<!DOCTYPE html>

<html lang="fr" >
    <head>
        <meta charset="utf-8">
        <title>Accueil</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <img class ="float-right pt-12" id="dp_illustration" src="{{ url_for('static', filename='derrick_plant.jpg') }}" alt="illustration plante">
        <div class="pl-24 py-6 font-bold text-3xl">Bienvenue !</div>
        <div class="px-24 py-6 grid grid-cols-2 gap-4">
            <div class="bg-blue-400 rounded-md">
                <p class="m-3 text-xl font-bold">Humidité</p>
                <p class="float-right m-3 text-3xl font-bold">{{hum}}%</p>
            </div>
            <div class="bg-blue-400 rounded-md">
                <p class="m-3 text-xl font-semibold">Température</p>
                <p class="float-right m-3 text-3xl font-bold">{{temp}}°C</p>
            </div>
            <div class="bg-blue-400 rounded-md col-span-2">
                <p class="text-center m-2">un gros carré très long</p>
            </div>
        </div>
        <!--<p>Le niveau d'humidité est à 67%. Votre plante est en bonne santé.</p>
        <p>La température ambiante est de 18°C.</p>-->
        {% endblock %}
    </body>
</html>
