<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>paramètres</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1>Paramètres</h1>
        <p>intensité de la luminosité : 37% </p>
        <p>délai d'envoi de données : 10 minutes</p>

        <input type="button" id='script' name="scriptbutton" value=" Send Notification " onclick="goPython()">

        <script>
              async function goPython () {
              const resp = await fetch(`${document.location.protocol }//${document.location.host}/notification`);
              if (!resp.ok) throw "Request error";
                console.log("finished python script");
              }
        </script>

        {% endblock %}
    </body>
</html>
