<!-- parent file of all template files -->

<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>parent</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/template.css') }}"> -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-blue-300">
        <header>
            <div class="container">
                <strong><nav>
                    <div class="fixed float-left h-screen w-16 bg-green-200">
                        <div class="fixed flex flex-col h-10 w-10 mx-3 py-5">
                            <div class="pb-3"><a href="{{url_for('home')}}"><img src="https://cdn-icons-png.flaticon.com/512/5729/5729968.png"></a></div>
                            <div class="pb-3"><a href="{{url_for('settings')}}"><img src="https://cdn-icons-png.flaticon.com/512/5698/5698946.png"></a></div>
                            <div class="pb-3"><a href="{{url_for('statistics')}}"><img src="https://cdn-icons-png.flaticon.com/512/5429/5429629.png"></a></div>
                            <div class="pb-3"><a href="{{url_for('get_weather')}}"><img src="https://cdn-icons-png.flaticon.com/512/2046/2046254.png"></a></div>
                        </div>
                    </div>
                </nav></strong>
            </div>
        </header>
        {% block content%}
        {% endblock %}
    </body>
</html>
