<!-- parent file of all template files -->

<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>parent</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/template.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="navigation">Derrick</h1>
                <strong><nav>
                    <ul class="menu">
                        <li>
                            <a href="{{url_for('home')}}">accueil</a> <!-- calls the function url_for given the name of the fct as argument (the page it refers to)-->
                        </li>
                        <li>
                            <a href="{{url_for('settings')}}">paramètres</a>
                        </li>
                        <li>
                            <a href="{{url_for('settings')}}">statistiques</a>
                        </li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        {% block content%}
        {% endblock %}
    </body>
</html>
