<!DOCTYPE html>

<html lang="fr" >
    <head>
        <meta charset="utf-8">
        <title>météo</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/css/template.css">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
<div id="contents">
        {% if data and data["cod"] == 200 %}
        {% set bgimage = data.weather[0].description %}
        {% else %}
        {% set bgimage = 'clear sky' %}
        {% endif %}

        <div id="results" style="background-image: url({{url_for('static', filename='images/'+bgimage+'.jpg')}})">

            <div id="left">
                {% if data%}
                {% if data["cod"] == 200 %}
                <p id="temp">{{ data.main.temp|round(1) }}°</p>
                <h2>{{ city|title }}</h2>
                <figure id="logo-weather">
                    <img src="http://openweathermap.org/img/wn/{{ data.weather[0].icon }}@2x.png" alt="weather icon">
                    <figcaption>{{ data.weather[0].description }}</figcaption>
                </figure>
                {% else %}
                <h3>Your search <em>{{ city|title }}</em> gave a {{ data["cod"] }} code.</h3><br>
                <h3>Veuillez réessayer</h3>
                {% endif %}
                {% else %}
                <h2>Utilisez la barre de recherche pour chercher une ville particulière</h2>
                {% endif %}

            </div>

            <div id="right">
                <h1>Météo</h1>

                <form method="post" action="{{ url_for('get_weather') }}">
                    <label for="city">Ville</label>
                    <input name="city" type="text" value="{{ request.form['city'] }}">

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>

                {% if data %}
                {% if data["cod"] == 200 %}
                <br>
                <h3>Weather Details:</h3>
                <hr>
                <p class="weather-data-item">Température ressentie: <span class="weather-data-value">{{
                        data.main.feels_like|round(1) }} °C</span></p>
                <p class="weather-data-item">Pression: <span class="weather-data-value">{{ data.main.pressure }}
                        hPa</span></p>
                <p class="weather-data-item">Humidité: <span class="weather-data-value">{{ data.main.humidity }}
                        %</span></p>
                <p class="weather-data-item">Vent: <span class="weather-data-value">{{ data.wind.speed }} Km/h</span>
                </p>
                <hr>
                {% else %}
                <p></p>
                {% endif %}
                {% endif %}

            </div>

        </div>


    </div>
        {% endblock %}
    </body>
</html>
