<!DOCTYPE html>

<html lang="fr" >
    <head>
        <meta charset="utf-8">
        <title>météo</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/css/template.css">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
<div id="contents">
        
        {% set bgimage = 'clear sky' %}

        <div id="results" style="background-image: url({{url_for('static', filename='images/'+bgimage+'.jpg')}})">

            <div id="left">
                {% if data %}
                    <p id="temp">{{ data.temp2m | round(2) }}°</p>
                    <h2>{{ data.name }}</h2>
                    <figure id="logo-weather">
                    
                        <img src="http://openweathermap.org/img/wn/{{ data.correspondance[1] }}d@4x.png" alt="weather icon">
                   
                        <figcaption>{{ data.correspondance[0] }}</figcaption>
                    </figure>
                {% else %}
                <h2>Utilisez la barre de recherche pour chercher une ville particulière</h2>
                {% endif %}

            </div>

            <div id="right">
                <h1>Météo</h1>

                    <form action="" id="villeform">
                        <input  class="text-stone-700" name="city" id="city" type="text" value="{{ request.form['city'] }}" placeholder="Ville">
                        <div id="suggestioncontainer">
                            <div class="text-stone-700" id="suggestions"></div>
                        </div>
                    </form>
                    
                    
                    <style>
                    #suggestioncontainer{
                        position: relative;
                        height: 0;
                        overflow: visible;
                    }
                    </style>

                    <script>
                        
                        let formelem = document.getElementById("villeform");
                        formelem.addEventListener("submit", (e)=>{
                            e.preventDefault();
                            e.stopPropagation();
                            let city = document.getElementById("city");
                            let val = city.value;
                            let searchval = val.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                            searchval =  val.toUpperCase()
                            const result = datacity.filter( ville => ville[0].trim() == searchval.trim());
                            console.log(result)
                            if (result.length == 1){
                                let prop = result[0];
                                let lien = "?insee="+prop[1];
                                //on redirige
                                window.location.search = lien;
                            };

                        })
                        
                        

                        let datacity;

                        function main(){
                            
                            let city = document.getElementById("city");
                            function citychanged(e) {
                                let val = city.value;
                                
                                prop(val)
                            }
                            city.addEventListener("input",citychanged);

                            function prop(val){
                                let searchval = val.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                                searchval =  val.toUpperCase().trim()
                                
                                document.getElementById("suggestions").innerHTML="";
                                if (searchval !== ""){
                                    //const result = datacity.filter( ville => ville[0].includes(searchval)).sort(ville => !ville[0].startsWith(searchval));
                                    const result = datacity.filter( ville => ville[0].startsWith(searchval));
                                    result.sort((ville1, ville2) => ville1[0].length<ville2[0].length ? -1 : 1); // -1 if len(ville1)<len(ville2) else 1
                                    const propositions = result.slice(0,5); 
                                    
                                    for (let i = 0; i < propositions.length; i++) {
                                        const prop = propositions[i];
                                        let suggestionsbox = document.createElement("div");
                                        let lien = "?insee="+prop[1];
                                        suggestionsbox.innerHTML = "<a href='"+lien+"'>"+prop[2]+"</a>";
                                        document.getElementById("suggestions").appendChild(suggestionsbox);
                                    }
                                }
                                
                            }
                            

                            


                        }

                        fetch("/cities")
                        .then(rep => rep.json())
                        .then((data)=>{
                            datacity = data
                            main()
                        })


                    </script>
                
                {% if data %}
             
                <br>
                <h3>Weather Details:</h3>
                <hr>
                <p class="weather-data-item">Température ressentie: <span class="weather-data-value">{{ data.temp_ressentie }} °C</span></p>
                <p class="weather-data-item">Humidité: <span class="weather-data-value">{{ data.rh2m}} %</span>
                <p class="weather-data-item">Vent: <span class="weather-data-value">{{ data.wind10m}} Km/h</span>
                </p>
                <hr>
             
                {% endif %}

            </div>

        </div>


    </div>
        {% endblock %}
    </body>
</html>
